<div>
  <h4>Add Item</h4>
  <input type="text" placeholder="Name" [(ngModel)]="name">
  <input type="text" placeholder="City" [(ngModel)]="city">
  <!-- <input type="text" placeholder="Pin" [ngModel]="pin()" (ngModelChange)="pin.set($event)"> -->
  <input type="text" placeholder="Pin" [value]="pin()" (input)="pin.set($event.target.value)">
  <button (click)="addItem()">Add</button>
</div> 



<h1>Items</h1>
<div *ngFor="let item of items()">
  <h4>{{ item.name }}</h4>
  <p>{{ item.city }}</p>
  <p>{{ item.pin }}</p>
  <button (click)="deleteItem(item._id)">Delete</button>  
</div>